<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>About</title>
</head>
<body>
	<span>
		Control de Servicios
		<br>
		Versión Postgre: 20200526
	</span>
	<br><br>
	<h2>Tecnologías usadas en la implementación de esta aplicación:</h2>
<!-- 	<br> -->
	<pre><h3>	Spring Boot</h3></pre>
	<pre><h3>	Servicios REST</h3></pre>
	<pre><h3>	Angular JS</h3></pre>
	<pre><h3>	Ajax</h3></pre>
	<pre><h3>	JPA - Hibernate</h3></pre>
	<pre><h3>	PostgresSQL10</h3></pre>
	<pre><h3>	HTML5</h3></pre>
	<pre><h3>	Thymeleaf</h3></pre>
	<pre><h3>	UI-Grid</h3></pre>
	<pre><h3>	Java 1.8</h3></pre>
</body>
</html>