<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Informe Mensual</title>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>
<a href="/">Inicio</a>&nbsp;
      <a href="informeDiario">Informe Diario</a>&nbsp;
      <a href="/help">Ayuda</a>&nbsp;
      <a href="/about">About</a>&nbsp;
      
      <p> <h1><span th:text="${informe.titulo}">título</span></h1></p>
      
 <form action="/informeMensual" method="POST">
	<fieldset>
		<select name="year">
<!-- 			<option value="1" th:if="${agno == 2017}" selected>Todos</option> -->
<!-- 			<option value="1" th:if="${agno != 2017}">Todos</option> -->
			<option value="2017" th:if="${agno == 2017}" selected>2017</option>
			<option value="2017" th:if="${agno != 2017}">2017</option>
			<option value="2018" th:if="${agno == 2018}" selected>2018</option>
			<option value="2018" th:if="${agno != 2018}">2018</option>
			<option value="2019" th:if="${agno == 2019}" selected>2019</option>
			<option value="2019" th:if="${agno != 2019}">2019</option>
			<option value="2020" th:if="${agno == 2020}" selected>2020</option>
			<option value="2020" th:if="${agno != 2020}">2020</option>
			<option value="2021" th:if="${agno == 2021}" selected>2021</option>
			<option value="2021" th:if="${agno != 2021}">2021</option>
			<option value="2022" th:if="${agno == 2022}" selected>2022</option>
			<option value="2022" th:if="${agno != 2022}">2022</option>
			<option value="2023" th:if="${agno == 2023}" selected>2023</option>
			<option value="2023" th:if="${agno != 2023}">2023</option>
			<option value="2024" th:if="${agno == 2024}" selected>2024</option>
			<option value="2024" th:if="${agno != 2024}">2024</option>
			<option value="2025" th:if="${agno == 2025}" selected>2025</option>
			<option value="2025" th:if="${agno != 2025}">2025</option>
		</select>
		<input type="submit" value="Informe Mensual" />
	</fieldset>
</form>
<br>
    <table>
    	<tr>
	    	<th:block th:each= "header : ${informe.getHeaders()}">
	    			<td th:text="${header}">.</td>
	    	</th:block>
    	</tr>
<!--     	<th:block th:each= "linea : ${informe.lineas.values()}"> -->
    	<th:block th:each= "linea : ${informe.getVentasAsLit()}">
    		<tr>
<!--     			<td th:text="${linea.getYear()}+ ' - ' + ${linea.getMes()}">.</td> -->
    			<td th:text="${linea.getPeriodo()}">.</td>
    			<th:block th:each= "total : ${linea.getTotalMensualPorServicio()}">
<!--     				<td th:text="${linea.totalDiarioPorServicio[0]}">.</td> -->
    				<td th:text="${total}">.</td>
    			</th:block>
<!--     			<td th:text="${linea.toString()}">.</td> -->
<!--     			<td th:text="${linea.totalMes}"></td> -->
    		</tr>
    	</th:block>
    </table>
    
</body>
</html>