<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Informe Diario</title>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>

<a href="/">Inicio</a>&nbsp;
      <a href="informeMensual?year=2020">Informe Mensual</a>&nbsp;
      <a href="/help">Ayuda</a>&nbsp;
      <a href="/about">About</a>&nbsp;
      
<p> <h1><span th:text="${informe.titulo}">título</span></h1></p>
<!-- <span th:text="${month}">título</span> -->

 <form action="/informeDiario2" method="POST">
	<fieldset>
		<select name="year">
			<option value="2017" th:if="${agno == 2017}" selected>2017</option>
			<option value="2017" th:if="${agno != 2017}">2017</option>
			<option value="2018" th:if="${agno == 2018}" selected>2018</option>
			<option value="2018" th:if="${agno != 2018}">2018</option>
			<option value="2019" th:if="${agno == 2019}" selected>2019</option>
			<option value="2019" th:if="${agno != 2019}">2019</option>
			<option value="2020" th:if="${agno == 2020}" selected>2020</option>
			<option value="2020" th:if="${agno != 2020}">2020</option>
			<option value="2021" th:if="${agno == 2021}" selected>2021</option>
			<option value="2021" th:if="${agno != 2021}">2021</option>
			<option value="2020" th:if="${agno == 2020}" selected>2022</option>
			<option value="2020" th:if="${agno != 2020}">2022</option>
			<option value="2020" th:if="${agno == 2020}" selected>2023</option>
			<option value="2020" th:if="${agno != 2020}">2023</option>
			<option value="2020" th:if="${agno == 2020}" selected>2024</option>
			<option value="2020" th:if="${agno != 2020}">2024</option>
			<option value="2020" th:if="${agno == 2020}" selected>2025</option>
			<option value="2020" th:if="${agno != 2020}">2025</option>
		</select>
<!-- 		<br><br> -->
		<select name="mes">
			<option value="1" th:if="${month == 1}" selected>Enero</option>
			<option value="1" th:if="${month != 1}">Enero</option>
			<option value="2" th:if="${month == 2}" selected>Febrero</option>
			<option value="2" th:if="${month != 2}">Febrero</option>
			<option value="3" th:if="${month == 3}" selected>Marzo</option>
			<option value="3" th:if="${month != 3}">Marzo</option>
			<option value="4" th:if="${month == 4}" selected>Abril</option>
			<option value="4" th:if="${month != 4}">Abril</option>
			<option value="5" th:if="${month == 5}" selected>Mayo</option>
			<option value="5" th:if="${month != 5}">Mayo</option>
			<option value="6" th:if="${month == 6}" selected>Junio</option>
			<option value="6" th:if="${month != 6}">Junio</option>
			<option value="7" th:if="${month == 7}" selected>Julio</option>
			<option value="7" th:if="${month != 7}">Julio</option>
			<option value="8" th:if="${month == 8}" selected>Agosto</option>
			<option value="8" th:if="${month != 8}">Agosto</option>
			<option value="9" th:if="${month == 9}" selected>Septiembre</option>
			<option value="9" th:if="${month != 9}">Septiembre</option>
			<option value="10" th:if="${month == 10}" selected>Octubre</option>
			<option value="10" th:if="${month != 10}">Octubre</option>
			<option value="11" th:if="${month == 11}" selected>Noviembre</option>
			<option value="11" th:if="${month != 11}">Noviembre</option>
			<option value="12" th:if="${month == 12}" selected>Diciembre</option>
			<option value="12" th:if="${month != 12}">Diciembre</option>
		</select>
		<input type="submit" value="Informe Diario" />
	</fieldset>
</form>

<!-- <p>Today is: <span th:text="${informe.lineas.get(1).getServicio().getNombre()}">nombre del servicio</span></p> -->
<br>
    <table>
    	<tr>
	    	<th:block th:each= "header : ${informe.getHeaders()}">
	    			<td th:text="${header}">.</td>
	    	</th:block>
    	</tr>
    	<th:block th:each= "linea : ${informe.lineas.values()}">
    		<tr>
<!--     			<td th:text="${linea.getFecha()}">.</td> -->
    			<td th:if="${linea.getFecha() != null}" th:text="${linea.getFecha()}">.</td>
    			<td th:if="${linea.getFecha() == null}">Total Mensual</td>
    			<th:block th:each= "total : ${linea.getTotalDiarioPorServicio()}">
<!--     				<td th:text="${linea.totalDiarioPorServicio[0]}">.</td> -->
    				<td th:text="${total}">.</td>
    			</th:block>
<!--     			<td th:text="${linea.toString()}">.</td> -->
<!--     			<td th:text="${linea.totalMes}"></td> -->
    		</tr>
    	</th:block>
    </table>
    
<!--     <table> -->
<!--     	<th:block th:each= "linea : ${informe.lineas.values()}"> -->
<!--     		<tr> -->
<!--     			<td th:text="${linea.getServicio().getNombre()}">.</td> -->
<!--     			<th:block th:each= "total : ${linea.getTotalDiarioPorServicio()}"> -->
<!--     							<td th:text="${linea.totalDiarioPorServicio[0]}">.</td> -->
<!--     				<td th:text="${total}">.</td> -->
<!--     			</th:block> -->
<!--     							<td th:text="${linea.toString()}">.</td> -->
<!--     							<td th:text="${linea.totalMes}"></td> -->
<!--     		</tr> -->
<!--     	</th:block> -->
<!--     </table> -->
</body>
</html>