<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- insertclientnew.html -->

<head>
  <meta charset="utf-8">
  <title>Crear un Cliente - New</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
  
  <link href="https://cdn.jsdelivr.net/npm/jsoneditor@9.10.0/dist/jsoneditor.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.10.0/dist/jsoneditor.min.js"></script>
  <style>
    #jsoneditor { width: 100%; height: 400px; }
  </style>
  
<script>
// 	document.getElementById("celdaId").addEventListener("focusout", test9, true);
	
	function test9(){
// 		alert("hola");
// 		document.form1.
	}
</script>

</head>
<body>
<!-- 	Barra de Menú -->
	<div>
		<a href="/">Inicio</a>&nbsp;
		<a href="/help">Ayuda</a>&nbsp;
		<a href="/about">About</a>&nbsp;
	</div>
	
<div>
	<h1>Crear un Cliente</h1>

	<section>
		<form action="/savenewclient"  method="POST">
		
			Nombre: <input type="text" name="nombre" placeholder="Ingrese el Nombre">
			<br>
			<br>
			Teléfono: <input type="text" name="telefono" placeholder="912345678">
			<br>
			<br>
<!-- 			Fecha 2: <input type="date" id="myDate" value="2014-02-09"> -->
			Fecha: <input type="date" name="fecha" th:value=${fechaActual}>
<!-- 			Fecha: <input type="text" ng-model="vm.cliente.fecha" placeholder="2019-10-22"> -->
			<br>
			<br>
			Dirección: <input type="text" name="direccion" placeholder="Ingrese la Dirección">
			<br>
			<br>
			<label for="mySelect">Comuna:</label>
	    	<!--<select name="mySelect" id="mySelect"
	      		ng-options="option.nombre for option in comunas.availableOptions track by option.idComuna"
 	      		ng-model="comunas.selectedOption"></select>-->
 	      	<select name="mySelect" id="mySelect">
	      		<option value="1">Con Con</option>
	      		<option value="2">Viña del Mar</option>
 	      	</select>
			<br>
			<br>
<!-- 			Observación: <input type="text" ng-model="vm.fdatos.observacion"> -->
			Observación: <input type="text" name="observacion">
			<br>
			<br>
			<div>
			<input type="submit" value="Grabar">
 			<input type="button" value="Crear Cliente" onClick="crearCliente()"> 
				<input type="button" id="addOT" value="Agregar OT" ng-click="vm.addOT()" ng-disabled="vm.deshabilitar" title="Agregar una Orden de Trabajo para este cliente">
				<input type="button" value="Agregar Servicio a la OT" ng-click="vm.addService()" title="Agregar un servicio a la Orden de Trabajo">
<!-- 				<input type="button" value="Test" ng-click="vm.test4()" title="Botón usado para realizar pruebas"> -->
			</div>
			
			<br>
			<br>
			
			<div ng-if="vm.cliente.ordenes_de_trabajo.length > 0">
			
			<br>
			<br>
			
			<h1>Lista de Servicios de la Orden de Trabajo</h1>
		    
<!-- 			<table id="myTable"> -->
			<table>
	            <tr>
<!-- 	                <th>Id Orden de Trabajo</th> -->
	                <th>Total</th>
	                <th>Fecha</th>
	                <th>Observación</th>
	                <th>Servicios</th>
	            </tr>
				<tbody ng-repeat="ot in vm.cliente.ordenes_de_trabajo" >
		    		<tr>
<!-- 		    			<td>{{ ot.idOT }}</td>		    			 -->
<!-- 		    			<td>{{ ot.total }}</td> -->
		    			<td><input type="text" ng-model="ot.total" readonly></td>
<!-- 		    			<td contenteditable>{{ ot.fecha }}</td> -->
<!-- 		    			<td contenteditable><input type="date" ng-model="ot.fecha" value="{{ ot.fecha }}"></td> -->
<!-- 		    			<td contenteditable><input type="date" ng-model="ot.fecha" value={{ ot.fecha }}></td> -->
		    			<td contenteditable><input type="date" ng-model="ot.fecha"></td>
		    			<td contenteditable><input type="text" ng-model="ot.observacion"></td>
		    			<td>
<!-- 			    			<table id="tableSer"> -->
			    			<table>
					            <tr>
<!-- 					                <th>Id Servicio</th> -->
					                <th>ID Tipo De Servicio</th>
<!-- 					                <th>Nombre Tipo De Servicio</th> -->
					                <th>Detalle del Servicio</th>
					                <th>Monto</th>
					            </tr>
			    				<tbody ng-repeat="servicio in ot.servicios" >
			    					<tr>
<!-- 			    						<td>{{ servicio.idServicioOT }}</td> -->
<!-- 										esquema transitorio para indocar el Tipo de Servicio que debe ser reemplazado por el uso de un combobox -->
<!-- 			    						<td contenteditable>{{ servicio.tipoServicio.idServicio }}</td> -->
<!-- 			    						<td contenteditable>{{ servicio.tipoServicio.nombre }}</td> -->

<!-- 			    						<td contenteditable><select> -->
<!-- 												<option value="1" ng-selected="{{ servicio.tipoServicio.idServicio == 1 }}">Lavado de Alfombras Muro a Muro</option> -->
<!-- 												<option value="2" ng-selected="{{ servicio.tipoServicio.idServicio == 2 }}">Lavado de Alfombras Sueltas</option> -->
<!-- 												<option value="3" ng-selected="{{ servicio.tipoServicio.idServicio == 3 }}">Limpieza de Piso Flotante</option> -->
<!-- 												<option value="4" ng-selected="{{ servicio.tipoServicio.idServicio == 4 }}">Limpieza de Tapices de Muebles</option> -->
<!-- 												<option value="5" ng-selected="{{ servicio.tipoServicio.idServicio == 5 }}">Limpieza de Tapices de Automóviles</option> -->
<!-- 												<option value="6" ng-selected="{{ servicio.tipoServicio.idServicio == 6 }}">Lavandería Con Retiro a Domicilio</option> -->
<!-- 												<option value="7" ng-selected="{{ servicio.tipoServicio.idServicio == 7 }}">Limpieza de Colchones</option> -->
<!-- 												<option value="10" ng-selected="{{ servicio.tipoServicio.idServicio == 10 }}">Otro Servicio</option> -->
<!--  											</select></td>	 -->
 											
<!--  											<td contenteditable> -->
<!--  												<select name="mySelect2" id="mySelect2" -->
<!-- 	      												ng-options="option.nombre for option in data.availableOptions track by option.idServicio" -->
<!-- 											 	        ng-model="servicio.tipoServicio.idServicio"> -->
<!-- 											 	        	<option ng-selected="{{ servicio.tipoServicio.idServicio == option.idServicio }}">{{option.nombre}}</option> -->
<!-- 											 	 </select> -->
<!--  											</td> -->
 											
 											<td>
 												<select name="mySelect" id="mySelect"
	      												ng-options="option.nombre for option in data.availableOptions track by option.idServicio"
 	     												 ng-model="servicio.tipoServicio"></select>
 											</td>
 											
<!--  											<td contenteditable> -->
<!--  												<select ng-model="cliente.defaultvalue" ng-options="option.value as option.display for option in options"> -->
<!-- 										            <option ng-selected="cliente.defaultvalue == option.value" >{{option.display}}</option> -->
<!-- 										        </select> -->
<!--  											</td> -->
 											
<!-- 			    						<td contenteditable>{{ servicio.detalleServicio }}</td> -->
			    						<td><input type="text" ng-model="servicio.detalleServicio"></td>
<!-- 			    						<td contenteditable>{{ servicio.monto }}</td> -->
			    						<td><input type="text" ng-model="servicio.monto" ng-change="vm.updteTotalOT()"></td>
			    					</tr>
			    				</tbody>
			    			</table>		    			
		    			</td>
		    		</tr>
		        </tbody>
		    </table>

		    </div>
		</form>
	</section>
</div>

<div id="jsoneditor"></div>

<script>

    const container = document.getElementById("jsoneditor");
    //const options = { mode: "view" }; // también puede ser "tree", "form", "code"
	const options = { mode: "form" }; // también puede ser "tree", "form", "code"
    const editor = new JSONEditor(container, options);
    /**
    const json = {
      usuario: "María",
      edad: 30,
      tecnologias: ["React", "Node.js", "TypeScript"],
      activo: true
    };
    **/
    
    const json = {
      nombre: "Ingrese el Mombre",
      telefono: "912345678",
      direccion: "Ingrese la Dirección",
      observacion: "",
      edad: 30,
      tecnologias: ["React", "Node.js", "TypeScript"],
      activo: true
    };
    
    //editor.set({"idServicio":123,"nombre":"prueba"});
    //editor.set(JSON.stringify(json));
    editor.set(json);

function test() {
	
	console.log("holaaa");
	console.log(document.getElementById("json"));
}

function crearCliente() {
	
	fetch('/savenewclient')
	  .then(response => response.json())
	  .then(data => {
	    // 'data' ahora es un objeto JavaScript
	    console.log(data);
	    // Accede a las propiedades del objeto
	    console.log(data.nombre);
	  })
	  .catch(error => console.error('Error:', error));
	
}

</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script type="text/javascript" src="/js/insertclient.js"></script>
 
</body>
</html>